/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Catamaran, 'Lato', Helvetica,Arial,sans-serif;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

nav, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: block;
}

/*Geral*/
body {
    width: 100%;
    background: url(../img/bg-pattern.png) repeat center center, linear-gradient(to right, #24C6DC, #514A9D);
}

.container {

}

/*Header ---------------------------------*/
header {
    width: 100%;
}

header .content-header {
    width: 100%;
    height: 59px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #FFF;

    z-index: 10;
}

header .content-header .logo {
    color: #665fee;
    font-size: 1.2rem;
}

header .content-header .menu {
    color: #665fee;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

header .content-header .menu i {
    margin-left: 5px;
}

header nav.dropdown {
    width: 100%;
    display: none;

    position: fixed;
    top: 59;
    left: 0;

    background: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 15px 15px;
    transition: all 1s;

    z-index: 1;
}

header nav.dropdown:target {
    display: block;
    transition: all 1s;
}

header nav ul {
    text-align: center;
}

header nav ul li {
    padding: 10px;
}

header nav ul li a {
    color: #665fee;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 5px;
}

header .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    margin: 59px 0px;
}

header .banner .content-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .banner h1 {
    font-weight: 300;
    font-size: 3rem;
    margin: 60px 0 30px 0 ;
}

header .banner p {
    font-size: 1.5rem;
    font-weight: 100;
    width: 80%;
    margin-bottom: 20px;
}

header .banner a {
    text-transform: uppercase;
    padding: 13px;
    color: #FFF;
    background: #665fee;
    border: 1px solid #FFF;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 35%;
}

header .banner img {
    width: 325px;
    margin-bottom: 30px;
}

/*Main - About*/

main {
    width: 100%;
    background: url(../img/parking4.jpg) no-repeat center center;
    background-size: cover;
    color: #FFF;
    text-shadow: 1px 1px 1px 0px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

main .content-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-size: 2.5rem;
    padding: 40px;
    font-weight: 300;
}

main p {
    font-size: 1.3rem;
    font-weight: 300;
    width: 90%;
}

main p + p {
    margin-top: 10px;
}

main p span {
    font-size: 1.3rem;
    font-weight: 300;
    color: #fdcc52;
}

main a {
    width: 30%;
    margin: 15px;
    padding: 10px 20px;
    color: #665fee;
    line-height: 20px;
    background: #FFF;
    border-radius: 10px;
}

/*O App ----------------------------*/

section.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    text-align: center;
    margin: 30px 0px;
}

section.app .titulo {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 30px;
}

section.app .sub-titulo {
    font-size: 1.3rem;
    font-weight: 100;
    margin: 20px;
}


section.app .app-features {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

section.app img {
    width: 325px;
}

section.app .icons {
    margin: 40px;
    font-weight: 100;
}

section.app .icons i {
    font-size: 3.5rem;
}

section.app .icons h1 {
    font-weight: 300;
    font-size: 2rem;
    margin: 10px;
}

section.app .icons p {
    font-size: 1.3rem;
    padding: 10px;
}

section.app hr {
    margin-top: 20px;
    width: 200px;
    border: 1px solid #FFF;
}

/*Protótipo Interativo --------------------*/
section.prototipo {
    width: 100%;
    color: #FFF;
    text-align: center;
}

section.prototipo h1 {
    font-size: 2.5rem;
    font-weight: 300;
    padding: 30px;
}

section.prototipo iframe {
    height: 500px;
    padding: 10px 0;
}

section.prototipo p {
    font-size: 0.8rem;
    padding: 30px 30px;
}

/*Download ---------------------------------*/
section.download {
    background-image: url(../img/parking3.jpg);
    background-size: cover;
    color: #FFF;
    text-align: center;
    padding: 80px auto;
}

section.download h1 {
    font-size: 2.5rem;
    font-weight: 300;
    padding: 20px;
}

section.download p {
    font-size: 1.1rem;
    font-weight: 300;
    padding: 20px;
}

section.download .plataformas {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

section.download .plataformas a {
    margin: 10px;
}

section.download .plataformas a img {
    width: 250px;
}

/*Newsletter ------------------------------*/
section.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    text-align: center;
    color: #FFF;
}

section.newsletter h1 {
    font-size: 2rem;
    font-weight: 300;
    padding: 20px;
}

section.newsletter form {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

section.newsletter form input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    width: 85%;
}

section.newsletter form input[type="submit"] {
    color: #FFF;
    font-size: 1.2rem;
    background: #665fee;
    border: 1px solid #FFF;
}

/*Footer ---------------------------------*/
footer {
    height: 40px;
    text-align: center;
    color: #CCC;
    background: #000;
}

footer p {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 40px;
}

/*Medias Querys ------------------------------*/

@media (min-width: 700px) {

    header .banner .content-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.app .app-features {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    section.app img {
        grid-row: span 2;
    }

    section.app .last-icon-grid {
        grid-column: span 2;
    }
}

@media (min-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header .logo-menu {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #FFF;
    }
    
    header .container-logo-menu {
        display: flex;
        background: #FFF;
        justify-content: space-around;
        width: 60%;
    }

    header .content-header {
        width: 100%;
        position: relative;
        grid-row: 1;
        z-index: 0;
    }

    header .content-header .menu {
        display: none;
    }

    header nav.dropdown {
        grid-column: span 2;
        display: block;
        position: relative;
        z-index: 0;
        background: #FFF;
        height: 59px;
        border-radius: 0;
    }
    
    header nav ul {
        text-align: center;
        display: flex;
    }
    
    header nav ul li a {
        font-size: 0.7rem;
        line-height: 30px;
    }

    header .banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img text";
    }
    
    header .banner .content-banner {
        grid-area: text;
        justify-self: start;
        width: 70%;
    }
    
    header .banner p {
    }
    
    header .banner a {
        width: 50%;
        max-width: 180px;
    }
    
    header .banner img {
        grid-area: img;
        align-self: center;
        justify-self: end;
        margin-right: 30px;
    }

    section.app .icons i {
        font-size: 4rem;
    }

    section.app .icons h1 {
        font-size: 2rem;
        margin: 5px;
    }
    
    section.app .icons p {
        font-size: 1.3rem;
        padding: 0 20px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
    }

    main {
        height: 700px;
    }

    section.app .app-features {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    section.app img {
        grid-row: span 3;
    }

    section.app .last-icon-grid {
        grid-column: span 2;
    }
}